@import '../../../../themes/Colors.scss';

header {
    .navbar {
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: center;
        .nav-logo {
            font-size: 1rem;
            width: 25%;
            padding: 20px;
            text-decoration: none;
            text-align: center;
            &>a{
                img{
                    width: 100px;
                    border-radius: 50%;
                }
            }
        }
        .nav-menu {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px;
            &>li {
                width: 150px;
                text-align: center;
                a {
                    color: $gray_font;
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-decoration: none;
                }
                list-style: none;
            }
        }
        .contact-top {
            width: 25%;
            font-size: 1.2rem;
            color: $gray_font;
            padding: 20px;
            text-decoration: none;
            text-align: center;
        }
    }
}

